.authorization {
  width: 100vw;
  height: 100vh;
  background: url("./img/wallpaper2.jpg") center no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    margin-bottom: 1rem;
    position: absolute;
    left: 2.5rem;
    top: 2rem;
  }
}
form {
  @include background-blur;
  @include flex-full-center;
  flex-direction: column;
  width: 30rem;
  padding: 2rem 2rem 0.5rem 2rem;
  border-radius: 0.8rem;
  input {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    background: none;
    outline: none;
    border-radius: 0.75rem;
    padding: 0 1.5rem;
    z-index: 1;
  }
}

.form-header {
  margin-bottom: 1rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.form-div {
  width: 100%;
  position: relative;
  height: 3rem;
  margin: 1.2rem 0;
  font-weight: 500;
}
.form-confirm {
  width: 100%;
  position: relative;
  margin: 1rem 0;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  .to {
    position: relative;
    display: inline-block;
    padding: 0.5rem 0;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 2px;
    font-weight: bold;
    span {
      position: absolute;
      display: block;
      &:nth-child(1) {
        bottom: 2px;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, $purple);
        animation: btn-anim1 1.5s linear infinite;
      }
    }
  }
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}
.form-tag {
  position: absolute;
  top: -1.5rem;
  left: 0.4rem;
  padding: 0 0.3rem;
  z-index: 10;
}
.error-message {
  position: absolute;
  top: -1.3rem;
  right: 0;
  color: #4670da;
  font-size: 0.8rem;
  font-weight: 600;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 0rem;
  background: $blue-dark;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.1s;
  position: relative;
  top: -3px;
  &:hover {
    background: #4d29ff;
  }
  &:active {
    transition: all 0.1s;
    top: 1px;
  }
  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
  span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0.5rem;
    transition: 0.3s;
  }
  &:hover span {
    padding-right: 0.8rem;
  }
  &:hover span:after {
    opacity: 1;
    right: 0;
  }
  &.reg {
    width: 8rem;
  }
  &.log {
    width: 7rem;
  }
  &:before {
    content: "";
    position: absolute;
    right: 0.5rem;
    top: 20%;
    width: 1rem;
    height: 1rem;
    border: 0.125rem solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s;
    animation: 0.8s linear infinite rotate;
  }
  &.sending {
    pointer-events: none;
    cursor: not-allowed;
    padding-right: 1rem;
    background: #7458ff;
    &:before {
      transition-delay: 0.2s;
      transition-duration: 0.5s;
      opacity: 1;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 480px) {
  .authorization .logo {
    left: 50%;
    transform: translateX(-50%);
  }
  form {
    width: 90vw;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    .btn.reg {
      width: 9rem;
    }
  }
}
