.currencies {
  .currency-select {
    position: absolute;
    top: 2rem;
    right: 3rem;
    color: #000;
    width: 10rem;
  }
  .currencies-select {
    color: #000;
    margin-top: 2rem;
  }
  .currency-table {
    margin-top: 0.5rem;
  }
}
