@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}
::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background: $transp;
  border-radius: 5rem;
}
::-webkit-scrollbar-thumb {
  background: $gradient;
  border-radius: 5rem;
}
body {
  background-color: $page;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  overflow: hidden;
}
a {
  color: #00c4ff;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: start;
  &:hover {
    color: #89e4ff;
    text-decoration: none;
  }
}
.video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.wrapper {
  height: 100vh;
  display: grid;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  grid-template-columns: 0.7fr 4fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header  header"
    "sidebar content";
}
main {
  grid-area: content;
  padding: 2% 1%;
  @include full-size;
}
.main-container {
  @include background-blur;
  margin: 2%;
  padding: 1.25rem;
  border-radius: $rad;
  overflow: hidden;
}
.block-header {
  @include flex-justify(sb);
  align-items: center;
  h2 {
    padding: 0.5rem 0 2rem 0;
  }
}
.button {
  background: $gradient;
  color: white;
  padding-left: 1em;
  font-size: 0.9rem;
  border-radius: $rad2;
  letter-spacing: 0.05em;
  @include flex-center(y);
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.2rem;
  padding-right: 2.5em;
  cursor: pointer;
  &:hover .icon {
    width: calc(100% - 0.6em);
    svg {
      transform: translateX(0.1em);
    }
  }
  &:active .icon {
    transform: scale(0.95);
  }
  .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75em;
    width: 1.7em;
    border-radius: $rad2;
    box-shadow: 0.1em 0.1em 0.6em 0.2em $purple;
    right: 0.3em;
    transition: all 0.3s;
    svg {
      width: 1.1em;
      transition: transform 0.3s;
      color: $purple;
    }
  }
}
.block-wrapper {
  overflow-y: scroll;
  padding: 0 1rem 4rem 1rem;
  padding-right: 2rem;
  height: 90%;
}
.Toastify {
  position: absolute;
}
.nothing {
  font-size: 1.3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 480px) {
  .wrapper {
    height: auto;
    display: block;
    padding: 6rem 0 2rem 0;
    min-height: 100vh;
  }
  body {
    overflow: visible;
  }
  video {
    display: none;
  }
  .main-container {
    padding: 1.25rem;
    overflow: visible;
  }
  .block-wrapper {
    overflow-y: visible;
    padding: 0;
    height: auto;
  }
  .block-header {
    margin-bottom: 2rem;
    h2 {
      padding: 0;
    }
  }
}
