header {
  grid-area: header;
  background-color: $transp;
  backdrop-filter: blur(20px);
  padding: 1rem 2.5%;
  @include flex-justify(sb);
  align-items: center;
  border-bottom: 1.5px solid #b8b8b8;
}
.logo {
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  span {
    color: #ffdd00;
    font-weight: 700;
  }
}
.user {
  display: flex;
  @include flex-full-center;
  font-size: 0.95rem;
  font-weight: 500;
}
.user-photo {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 0.8rem;
}
.user-balance {
  margin-left: 1.5rem;
}
@media (max-width: 480px) {
  header {
    padding: 1.5rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .user {
    display: none;
  }
}
