.home {
  display: flex;
  padding: 2%;

  .home-wrapper {
    @include full-size;
    border-radius: $rad;
    @include flex-justify(sb);
    flex-direction: column;
  }
  .home-container {
    width: 100%;
    height: 48%;
    .home-block {
      @include full-size;
      @include background-blur;
      border-radius: $rad;
    }
  }
  .home-block {
    padding: 1.25rem;
    position: relative;
    height: 100%;
  }
  .operations-link {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  .block-content {
    margin: 2rem 0;
    position: relative;
  }

  .operations {
    @include background-blur;
    margin-right: 1rem;
  }
}
