.popup-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  @include background-blur;
  z-index: 100;
  @include flex-full-center;
  color: $dark;
}
.popup {
  border-radius: 6px;
  background-color: #fdfdfd;
  .header {
    font-size: 1.2rem;
    @include flex-justify(sb);
    padding-bottom: 1rem;
    border-bottom: 3px solid #7157c5;
    padding: 1.5rem 2rem;
    svg {
      cursor: pointer;
      font-size: 1rem;
      transition: 0.1s;
      &:hover {
        transform: scale(1.3);
        transition: 0.05s;
      }
    }
  }
}
.popup-form {
  background: none;
  color: #000 !important;
  padding: 1rem 2rem;

  .form-tag {
    width: 7.5rem;
  }
  input,
  select {
    color: #2b3141;
    font-size: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 0 8px;
  }
  select {
    height: 100%;
    outline: none;
    cursor: inherit;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  option {
    font-size: 1.1rem;
  }
  .select {
    width: 100%;
    height: 100%;
    position: relative;
    &::after {
      right: 0.5rem;
      top: 30%;
      position: absolute;
      content: "\25bc";
    }
  }
  .popup-item {
    @include flex-justify(sb);
    align-items: center;
    margin: 1rem 0;
    font-size: 1rem;
    height: 2.5rem;
    .form-tag {
      position: static;
    }
    input {
      position: static;
    }
  }

  .div {
    width: 100%;
    @include flex-justify(sb);
    .form-div {
      width: 48%;
    }
  }
  .btn {
    align-self: flex-end;
    background: $gradient;
    span:after {
      content: "\002B";
    }
  }
  .error-message {
    color: red;
    right: 0;
    font-size: 0.7rem;
    top: -1.1rem;
  }
  .select-cards {
    z-index: 1;
  }
  .description {
    position: absolute;
    bottom: -0.9rem;
    right: 0;
    font-size: 0.7rem;
    color: #525252 !important;
  }
  .back {
    background: none;
    cursor: pointer;
    font-weight: bold;
  }
}
.card-info-item {
  span {
    width: 50%;
    text-align: right;
  }
}
.card-by-id {
  min-height: 10rem;
  min-width: 35rem;
  padding: 1rem 2rem;
  .transactions {
    overflow-y: scroll;
    height: 10rem;
    position: relative;
  }
  .card-info {
    margin-bottom: 1.5rem;
  }
  .card-info-item {
    @include flex-justify(sb);
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 2px dotted #000;
  }

  .buttons {
    margin-bottom: 1rem;
    @include flex-justify(sb);
    .button {
      padding: 1rem 1rem;
      transition: 0.2s;
      box-shadow: none;
      svg {
        margin-right: 0.5rem;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .remove {
    background: $red;
  }
  .edit {
    background: rgb(73, 73, 73);
  }
}
@media (max-width: 480px) {
  
}
