.profile-top {
  @include flex-justify(sb);
  text-align: right;
  .name {
    display: flex;
    justify-content: end;
    gap: 1rem;
  }
  span {
    font-weight: 600;
    font-size: 1.5rem;
  }
}
.profile-img {
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 0.5rem;
  flex-shrink: 0;
}
@media (max-width: $phone-width) {
  .profile-top {
    flex-direction: column;

    text-align: left;
    .name {
      justify-content: start;
    }
  }
  .user-info {
    margin: 2rem 0;
  }
}
