.profile-top {
  @include flex-justify(sb);
  margin-top: 2rem;
  span {
    font-weight: 600;
    font-size: 1.5rem;
  }
}
.profile-img {
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 0.5rem;
  flex-shrink: 0;
}
.profile {
  button {
    padding-right: 1rem;
    svg {
      margin-left: 0.5rem;
    }
  }
}

.user-info {
  table {
    border-collapse: separate;
    border-spacing: 0 2rem;
  }
  td {
    padding-right: 2rem;
  }
}
@media (max-width: $phone-width) {
  .user-info {
    margin: 2rem 0;
  }
}
@media (max-width: $phone-s-width) {
  .profile-top {
    flex-direction: column;
    span {
      font-size: 1rem;
    }
    table {
      width: 100%;
      td {
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}
