.sidebar {
  grid-area: sidebar;
  padding: 1.25rem;
  height: 100%;
  position: relative;
  background-color: $transp;
  backdrop-filter: blur(20px);
}
.sidebar-container {
  @include full-size;
  @include flex-center(y);
  flex-direction: column;
}

nav {
  height: 15rem;
  @include flex-justify(sa);
  flex-direction: column;
  width: 100%;
  a {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    width: 12rem;
    color: #fff;
    border-radius: 6px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    transition: 0.2s;
    &:hover {
      background-color: rgba(12 15 25 / 30%);
      transition: 0.2s;
      padding: 0.5rem 1.5rem 0.5rem 1rem;
    }
  }
  .active {
    background: $purple;
    &:hover {
      background: $purple;
      color: #242456;
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }
  }
  svg {
    margin-right: 0.5rem;
  }
}
.out {
  position: absolute;
  bottom: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  color: #00c4ff;
  svg {
    margin-left: 0.5rem;
  }
}
@media (max-width: 480px) {
  .sidebar {
    width: 75%;
    right: 0;
    position: fixed;
    z-index: 2;
    padding: 2rem 1.5rem;
    transform: translateX(100%);
    transition: 0.3s;
    &.active {
      transform: translateX(0%) !important;
    }
  }
  nav a {
    font-size: 1.3rem;
    width: 100%;
    padding: 0.5rem 1.5rem;
  }
  .out {
    bottom: 8rem;
    font-size: 1.2rem;
  }
}
