$page: #242734;
$dark: #2b3141;
$light: #37394a;
$purple: #924ed9;
$blue: #00c4ff;
$blue-dark: #3614dd;
$red: rgba(255, 68, 68, 0.9);
$green: rgba(8, 255, 8, 0.9);
$transp: rgba(0, 0, 0, 0.4);
$gradient: linear-gradient(145deg, rgba(55, 146, 185, 1) 0%, rgba(149, 77, 211, 1) 82%);
$shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
$rad: 10px;
$rad2: 7px;
$phone-width: 1000px;
$tablet-width: 1200px;
$small-pc-width: 1400px;
