$page: #242734;
$dark: #2b3141;
$light: #37394a;
$transp: rgba(0, 0, 0, 0.4);
$gradient: linear-gradient(145deg, rgba(55, 146, 185, 1) 0%, rgba(149, 77, 211, 1) 82%);
$shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
$rad: 6px;
